:root {
  --red: rgb(170, 1, 1);
  --shadow: rgb(45, 44, 44);
  --whiteText: rgb(255, 255, 255);
  --containerBackground: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

/* Header */
#header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  top: 0;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 5px solid var(--red);
  box-shadow: 0px 5px 10px var(--shadow);
  color: var(--whiteText);
  text-shadow: 4px 4px 4px var(--shadow);
  padding: 10px 0px 10px 0px;
  background-image: url('./assets/header-background.png');
  background-size: cover;
}

.name {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  font-size: 25px;
  width: 100%;
  text-align: center;
}

#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  order: 1;
}

#nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
}

#nav li {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 5px 0px 5px;
}

#nav li a {
  text-decoration: none;
  color: var(--whiteText);
}

#nav li a:hover,
#nav li a.active {
  color: var(--red);
  transition: color 0.2s ease, box-shadow 0.2s ease;
  text-shadow: 1px 1px 7px rgba(255, 255, 255, 0.5);
}

/* Popup on Portfolio Nav Link */
#popup {
  position: absolute;
  background-color: var(--containerBackground);
  border: 2px solid var(--red);
  padding: 10px;
  box-shadow: 0px 2px 5px var(--shadow);
  border-radius: 8px;
  z-index: 2;
  color: var(--black);
  font-weight: bold;
}

#popup p {
  margin: 0;
}

/* Picture Container */
#picture-container {

}


/* Profile Container*/
#profile-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-start;
  background-color: var(--containerBackground);
  padding: 10px 20px 60px 20px;
  margin-top: 160px;
  scroll-margin-top: 200px;
  width: auto;
  height: auto;
}

.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

#picture {
  border-radius: 50%;
  border: 5px solid var(--red);
  box-shadow: 5px 5px 20px var(--shadow);
  width: 350px;
  transition: transform 0.5s;
  cursor: default;
}

.profile-personal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 20px;
  border: 3px solid var(--red);
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
  background-color: var(--containerBackground);
  line-height: 35px;
  font-size: 18px;
}

#profile-header {
  color: rgb(33, 29, 29);
  padding: 2px 2px 2px 2px;
  font-size: 30px;
  margin: 0px 0px 0px 50px;
}

h1, h3 {
  margin: 2px;
}

#highlight {
  color: var(--red);
  text-decoration: underline;
}

#profile-list {
  width: 100%;
}
.profile-list li {
  margin-bottom: 5px;
}

.drop-down-trigger {
  cursor: pointer;
  color: var(--red);
  text-decoration: underline;
}

.drop-down {
  list-style: inside;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid transparent;
  color: white;
}

.drop-down-trigger:hover + .drop-down {
  max-height: 500px;
  opacity: 1;
  border-color: var(--red);
  background-color: #4b4948;
}

.drop-down li {
  margin: 1px 0;
}


/* Portfolio */
#portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  scroll-margin-top: 105px;
  width: auto;
  height: auto;
  padding: 20px 20px 50px 20px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 15px;
  margin: 0px;
}

.card-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-links a {
  color: var(--red)
}

.card-links a:hover {
  color: var(--black);
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}

.card-links .link-icon {
  font-size: 1.5rem;
}

.card-links .link-icon:hover {
  color: var(--black);
  transform: scale(1.3);
  transition: transform 0.3s ease-in-out;
}

#password-generator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px var(--shadow);
  border: 1px solid var(--black);
}

.password-list {
  font-size: 12px;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--black);
  margin-bottom: 5px;
}

.rotate-container {
  perspective: 1000px;
  padding: 15px;
}

.rotate-card {
  width: 350px;
  height: 230px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate-card-inner {
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center center;
}

.rotate-container:hover .rotate-card-inner {
  transform: rotateY(180deg); 
}

.rotate-card-front,
.rotate-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.rotate-card-front {
  display: flex;
  justify-content: center;
  transform: rotateY(0deg);
}

.rotate-card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #333;
  border: 1px solid var(--black);
  background-color: rgb(255, 227, 227);
  transform: rotateY(180deg);
  font-size: 12px;
}

/* Contact Card */
#contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  scroll-margin-top: 120px;
  width: auto;
  height: 100%;
  padding: 20px 20px 50px 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--containerBackground);
  padding: 25px;
  border: 2px solid var(--red);
  border-radius: 5px;
  box-shadow: 2px 2px 10px #333;
  width: 60%;
}

#contact-form {
  width: auto;
}

#contactMe {
  border-bottom: 1px solid gray;
}

.orange-icon {
  color: rgb(255, 77, 0);
}

.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: var(--red);
  color: var(--whiteText);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--black);
}

.form-group {
  padding-top: 15px;
}

.notification {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.thank-you-message {
  background-color: var(--black);
  color: var(--whiteText);
  padding: 9px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* Profiencies */
#proficiencies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  scroll-margin-top: 80px;
  width: auto;
  height: auto;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.proficiencies {
  display: flex;
  flex-direction: column;
  padding: 40px 0px 0px 0px;
  justify-content: center;
  align-items: center;
}

#profTitle {
  position: relative;
}

#profTitle::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -20%;
  width: 140%;
  height: 2px;
  background-color: var(--black);
}

#proficiencies h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

#proficiencies p {
  font-size: 18px;
  margin-bottom: 30px;
}

#proficiencies a {
  display: inline-block;
  background-color: var(--red);
  color: var(--whiteText);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  margin: 25px;
}

#proficiency-box {
  background-color: var(--containerBackground);
  padding: 20px;
  border: 2px solid var(--red);
  border-radius: 5px;
  margin: 30px;
}

.proficiency-box h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#proficiency-box ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

#proficiency-box li {
  margin-right: 20px;
  margin-bottom: 5px;
}

#proficiency-box li::after {
  content: " | ";
  color: var(--red);
  margin-left: 5px;
}

#proficiency-box li:last-child::after {
  content: none;
}

/* Resume */
#resume-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  scroll-margin-top: 80px;
  width: auto;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

iframe {
  width: 68%;
  height: 1375px;
  margin: auto;
}

#downloadBtn {
  background-color: var(--red);
  color: var(--whiteText);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 30px;
  align-items: center;
}

#downloadBtn:hover {
  background-color: var(--black);
}

/* Footer */
#footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 5px solid var(--red);
  box-shadow: 5px 5px 10px 5px var(--shadow);
  padding: 5px;
  background-image: url('./assets/header-background.png');
  background-size: cover;
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons a {
  margin: 10px 30px;
  color: var(--whiteText);
  transition: color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 5px 5px 5px var(--shadow); 
}

.footer-icons a:hover {
  color: var(--red);
  filter: brightness(1.2);
  box-shadow: 5px 5px 5px var(--shadow); 
}

@media (max-width: 768px) {
  #profile-container {
    margin-top: 280px;
  }

  #picture {
    max-width: 65%;
  }

  .profile-picture {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
    align-items: center;
    margin-bottom: 15px;
  }

  #profile-header {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  #portfolio-container {
    scroll-margin-top: 140px;
  }
}

@media (max-width: 768px) {
  #contact-container {
    scroll-margin-top: 165px;
  }
}

@media (max-width: 768px) {
  #proficiencies-container {
    scroll-margin-top: 130px;
  }
}

@media (max-width: 768px) {
  #resume-container {
    scroll-margin-top: 150px;
  }
}