body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 5px solid rgb(170, 1, 1);
  box-shadow: 0px 5px 10px rgb(45, 44, 44);
  align-items: center;
  color: rgb(255, 251, 246);
  padding: 10px;
}

.top-header {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  font-size: 35px;
}

.nav-container {
  justify-content: center;
}

header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 5px;
}

header li {
  display: inline-block;
  margin: 0 15px;
}

.clicked {
  color: #fff;
  text-decoration: none;
}

.clicked:hover,
.clicked:focus {
  color: rgb(170, 1, 1);
  filter: brightness(1.2);
}

/* Profile */
#profile-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffefef;
  padding-bottom: 70px;
}

#profile {
  align-items: center;
  justify-content: center;
}

.profile {
  margin-top: 140px;
}

#profile img {
  border-radius: 50%;
  border: 5px solid rgb(135, 1, 1);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.66);
  width: 100%;
  margin-top: 190px;
}

#profile-header {
  color: rgb(33, 29, 29);
  padding: 2px 2px 2px 2px;
  font-size: 20px;
  margin: 0px 0px 0px 50px;
}

h1, h3 {
  margin: 2px;
}

#profile-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 3px solid rgb(170, 1, 1);
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
  background-color: white;
  line-height: 40px;
  font-size: 18px;
}


/* Portfolio Items */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
  height: 550px;
  margin: 0 auto;
  padding: 25px 20px 20px 20px;
}

.password-generator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative; /* Change to relative */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #333;
}

.password-list {
  font-size: medium;
  text-align: left;
  padding-left: 30px;
}

.rotate-container {
  perspective: 1000px;
}

.rotate-card {
  width: 400px;
  height: 250px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate-card-inner {
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  transform-origin: center center; /* Set the transformation origin to center */
}

.rotate-container:hover .rotate-card-inner {
  transform: rotateY(180deg); /* Rotate on central vertical axis */
}

.rotate-card-front,
.rotate-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.rotate-card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(0deg); /* Initial rotation */
}

.rotate-card-back {
  display: flex;
  align-items: center;
  background-color: white;
  transform: rotateY(180deg); /* Rotate on central vertical axis */
  justify-content: center;
  text-align: center;
  position: relative; /* Change to absolute */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #333;
}


/* Style for the contact form */
.contact {
  background-color: #f2f2f2;
  padding: 60px 500px 30px 500px;
}


.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color:  rgb(170, 1, 1);
}

/* Align form to the left with left margin */
.form-group input,
.form-group textarea,
button[type="submit"] {
  margin-left: 15px;
}

/* Add spacing between form components */
.form-group {
  padding-top: 15px;
}

.notification {
  display: none;
  color: red;
  font-size: 14px;
  margin-top: 5px;
}



/* Profiencies */
.proficiencies {
  background-color: #f2f2f2;
  padding: 40px 0;
}

.proficiencies .container {
  width: auto;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

.proficiencies h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.proficiencies p {
  font-size: 18px;
  margin-bottom: 30px;
}

.proficiencies a {
  display: inline-block;
  background-color: rgb(170, 1, 1);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  margin: 15px;
}

.proficiencies a:hover {
  background-color: black;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 65%;
  height: 1375px;
  border: 2px solid black;
  margin: auto;
  align-items: center;
}


   /* Footer styles */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 10px;
  border-top: 5px solid rgb(170, 1, 1);
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons a {
  margin: 10px 30px 10px 30px;
  color: rgb(255, 251, 246); /* Set the default color of the icons */
  transition: color 0.2s ease; /* Add a smooth transition effect */
}

.footer-icons a:hover {
  color: rgb(170, 1, 1); /* Set the color of the icons on hover */
  filter: brightness(1.2); /* Add brightness to make it brighter on hover */
}
