body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 5px solid rgb(170, 1, 1);
  box-shadow: 0px 5px 10px rgb(45, 44, 44);
  align-items: center;
  color: rgb(255, 251, 246);
  padding: 10px;
}

header .flex-container {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px 0px;
  font-size: 25px;
}

header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 5px;
}

header li {
  display: inline-block;
  margin: 0 15px;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover,
header a:focus {
  color: rgb(170, 1, 1);
  filter: brightness(1.2);
}

header a.portfolio-link.clicked {
  color: rgb(170, 1, 1);
  filter: brightness(1.2);
}

/* Profile */
#profile-container {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffe8e8;
  padding-bottom: 70px;
}

#profile {
  align-items: center;
  justify-content: center;
}

.profile {
  margin-top: 170px;
}

#profile img {
  border-radius: 50%;
  border: 5px solid rgb(135, 1, 1);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.66);
  width: 100%;
  margin-top: 210px;
}

#profile-header {
  color: rgb(33, 29, 29);
  padding: 2px 2px 2px 2px;
  font-size: 20px;
  margin: 0px 0px 0px 50px;
}

h1, h3 {
  margin: 2px;
}

#profile-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border: 3px solid rgb(170, 1, 1);
  border-radius: 5px;
  box-shadow: 5px 5px 10px gray;
  background-color: white;
  line-height: 40px;
  font-size: 18px;
}

/* Portfolio */
.portfolio-list {
  position: relative;
}

/* Hide the portfolio titles by default */
.portfolio-titles {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  background-color: white;
  border: 1px solid #6d6d6d;
  border-radius: 5px;
  padding: 10px 15px;
  width: auto;
  z-index: 2;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  transition: opacity 0.3s, visibility 0s 0.3s; /* Add transitions for smooth visibility change */
}

/* Show the portfolio titles when hovering over .portfolio-list */
.portfolio-list:hover .portfolio-titles {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; /* Remove the delay on hover to show immediately */
}

/* Position the portfolio titles between "Profile" and "LinkedIn" */
.portfolio-titles {
  top: 50%;
  transform: translateY(-50%);
}

/* Position portfolio titles vertically */
.portfolio-titles li {
  padding: 5px; /* Add some spacing between portfolio items */
}

#portfolio {
  margin: 5px;
}


a {
  margin-right: 5px;
}

ol {
  margin: auto;
  padding: 0;
}

av {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  color: black;
  position: absolute;
  top: 120px;
  left: 450px;
}

a:link {
  color: solid rgb(0, 0, 0);
  text-decoration: none;
}


#bookshare {
  margin-bottom: 100px;
}
.bootcamp-practice,
.password-generator,
.weather-dashboard,
.movie-reviews,
.bookshare  {
  position: static;
  border-right: 5px solid rgb(170, 1, 1);
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px#333;
  margin: 20px;
}

.portfolio-row {
  display: flex;
  align-items: center;
}

.portfolio-row .portfolio-list {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
  transition: transform 0.3s, opacity 0.3s;
}

.portfolio-row:hover .portfolio-list {
  display: block;
  transform: translate(0, 0);
}

.portfolio-row:hover .password-generator {
  transform: scale(1.05); /* Adjust the scale as needed */
}



   /* Footer styles */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 10px;
  border-top: 5px solid rgb(170, 1, 1);
}

.footer-icons {
  display: flex;
  justify-content: center;
}

.footer-icons a {
  margin: 10px 30px 10px 30px;
  color: rgb(255, 251, 246); /* Set the default color of the icons */
  transition: color 0.2s ease; /* Add a smooth transition effect */
}

.footer-icons a:hover {
  color: rgb(170, 1, 1); /* Set the color of the icons on hover */
  filter: brightness(1.2); /* Add brightness to make it brighter on hover */
}
